.Tip__card > div > div {
  display: none;
}

.PdfHighlighter .MouseSelection {
  background: lightgray;
}

.PdfHighlighter .AreaHighlight {
  background-color: lightgray;
}

.PdfHighlighter .AreaHighlight__part {
  background-color: lightgray;
}
